.container-fluid{
    width: 600px;
}
body{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/817/888/desktop-wallpaper-kanye-west-kanye-computer.jpg");

    background-size:cover;
}
.button-quote:hover{
    background-color: rgb(107, 212, 107);
    color: black;
}

.btn{
    background-color: #4076eb;
    color: rgb(255, 252, 252);
    border: 0;
    border-radius: 10px;
    margin-top: 30px;
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}
.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}
.btn:hover{
    background-color: black;
    color: white;
}